@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>

<header><h1>Welcome</h1></header>

<hr />

<p>Welcome to Music Library Manager! This site allows you to easily manage your songs, artists, and albums. Use the navigation links to view or add new songs, manage artists and albums, and search or filter your library. Simply click the "Create" buttons to add new items, and use the action buttons in the tables to edit or delete entries. Enjoy organizing your music collection!</p>

<hr />

<section>
    <a asp-page="/Artists/Create" class="btn btn-primary btn-lg">Create Artist</a>
    <a asp-page="/Albums/Create" class="btn btn-primary btn-lg">Create Album</a>
    <a asp-page="/Songs/Create" class="btn btn-primary btn-lg">Create Song</a>
</section>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

</main>
